/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

/* Estilos del botón */
#getCatButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

#getCatButton:hover {
    background-color: #0056b3;
}

/* Estilos del contenedor de la imagen */
#catImageContainer {
    margin-top: 20px;
}

/* Estilos de la imagen */
#catImage {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
